html,
body {
  padding: 0;
  margin: 0;
  background: $dark;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $white;
  overflow-x: hidden;
  max-width: 100vw;
  font-size: 1rem;
  &.loading {
    * {
      cursor: progress !important;
    }
  }
  &.blocker {
    height: 100vh;
    overflow-y: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(white, 0.1);
    border-radius: $borderRadius;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(white, 0.2);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $dark;
  &-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 25%;
    background-image: linear-gradient(to top, $dark, rgba($dark, 0));
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
  }
  &-inner {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }
}

input,
button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
}

input:read-only {
  color: rgba(white, 0.1);
  opacity: 0.5;
}

button {
  background: none;
  border: none;
  @include align-center-flex;
  cursor: pointer;
  outline: none;

  &:active {
    filter: brightness(0.8);
  }
  &.link {
    display: inline;
    color: $blue;
    text-decoration: none;
    font-weight: 600;
    transition: transition(color);
    &:hover {
      color: $red;
    }
  }
}

input,
textarea {
  &:focus {
    box-shadow: 0 0 1px 1px rgba(white, 0.2);
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: transition(color);
  &:hover {
    color: $red;
  }
}

.cookie-policy {
  position: fixed;
  bottom: 0;
  z-index: 20;
  background: url("/static/images/cookiebg.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  padding: 1rem 0;

  .col-md-10,
  .col-md-2 {
    margin-bottom: 0;
  }
  p {
    margin: 0 !important;
  }
}

footer {
  padding-top: 5rem;
  form {
    margin-top: 1rem;
    border-radius: $borderRadius;
    overflow: hidden;
    .form-group {
      margin: 0;
      button {
        background: linear-gradient(to top right, $darkBlue, $blue);
        transition: transition(filter);
        border-bottom-left-radius: $borderRadius !important;
        border-bottom-right-radius: $borderRadius !important;
        &:hover {
          background: linear-gradient(to top right, $darkBlue, $blue);
          border: 0;
          box-shadow: 0 0 0 !important;
          filter: brightness(1.1);
        }
      }
      input,
      button {
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        &:focus {
          box-shadow: 0 0 0 !important;
        }
      }
    }
  }
  .b-t-1 {
    border-top: 1px solid rgba(white, 0.1);
    padding-top: 2rem;
    ul {
      list-style-type: none;
      margin: 1rem 0;
      padding: 0;
      display: flex;
      flex-flow: wrap;
      @include for-phone {
        flex-flow: column;
      }
      &.socials {
        @include for-phone {
          flex-flow: unset;
        }
        li {
          flex: 1 1 20%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        svg {
          width: 100%;
          max-width: 30px;
          height: auto;

          path {
            transition: transition(fill);
            fill: white;
          }
        }
        a {
          &:hover {
            background: none;
            svg path {
              fill: $blue;
            }
          }
        }
      }
      li {
        flex: 0 0 33%;

        a {
          position: relative;
          &:hover {
            background-color: rgba(white, 0.05);
          }
          display: flex;
          color: white;
          transition: transition(background-color);
          padding: 1rem;
        }
      }
    }
    h3 {
      margin-top: 0;
      font-size: 500 !important;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      opacity: 1;
      font-weight: 300 !important;
    }
  }
  .copyright {
    p {
      opacity: 0.2;
      font-size: 14px;
      margin: 0 0;
    }
  }
}
