html,
body {
  padding: 0;
  margin: 0;
  background: $dark;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $white;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 100vh;
  background: $dark;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

input,
button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
}
