html,
body {
  padding: 0;
  margin: 0;
  background: $dark;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $white;
  font-size: 1rem;

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(white, 0.1);
    border-radius: $borderRadius;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(white, 0.2);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: $dark;
  &-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 25%;
    background-image: linear-gradient(to top, $dark, rgba($dark, 0));
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
  }
  &-inner {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }
}

input,
button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 200;
}

button {
  background: none;
  border: none;
  @include align-center-flex;
  cursor: pointer;
  outline: none;
  &:active {
    filter: brightness(0.8);
  }
}

input,
textarea {
  &:focus {
    box-shadow: 0 0 1px 1px rgba(white, 0.2);
  }
}
