.card {
  padding-top: 10rem;
  position: relative;
  overflow: hidden;
  border-radius: $borderRadius;
  height: 100%;
  &.red {
    .card-body {
      background: linear-gradient(to top right, $darkRed, $red);
    }
  }
  &-image {
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    display: flex;
    align-items: flex-end;
    img {
      display: flex;
      max-width: 67%;
      height: 100%;
      width: auto;
    }
  }
  &-body {
    background: linear-gradient(to top right, $darkBlue, $blue);
    border-radius: $borderRadius;
    position: relative;
    height: 100%;
    z-index: 1;
    &.right {
      margin-left: unset;
      margin-right: auto;
      .card-image {
        left: unset;
        right: 0;
        img {
          margin-left: auto;
        }
      }
      .card-body_inner {
        margin-left: unset;
        margin-right: auto;
        z-index: 10;
      }
    }
    &_inner {
      padding: 3rem 2rem;
      z-index: 10;
      width: 60%;
      margin-left: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        padding-left: 3rem;
      }

      h3,
      p {
        text-shadow: 0 5px 10px rgba(black, 0.1);
      }
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 152.5%;
        font-weight: 400;
      }
      h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 100%;
        // letter-spacing: -0.06em;
        text-transform: uppercase;
        width: max-content;
      }
    }
  }
}

.card-post {
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin-bottom: 1rem;
  &_image {
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  box-shadow: 0px 0px 50px -50px rgba(0, 90, 255, 0);
  transition: transition((box-shadow, transform));
  &:hover {
    .card-post_inner {
      transform: translate(0, 0);

      p {
        opacity: 1;
        transform: scaleY(1);
        height: max-content;
      }
    }
    box-shadow: 0px 50px 50px -50px rgba(0, 90, 255, 0.25);
    transform: scale(1.05);
    z-index: 10;
  }
  &_inner {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    height: 150%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-image: linear-gradient(
      to top,
      rgba($dark, 0.9) 25%,
      rgba($dark, 0)
    );
    transform: translate(0, 50%);
    transition: transition(transform);
    p {
      opacity: 0;
      transition: transition((opacity, height));
      transform: translate(0, 100%);
      height: 0;
    }
  }
  &_body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: $borderRadius;
  }
}
