.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($dark, 0.5);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 10;
  overflow-y: scroll;
  backdrop-filter: $blur;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 6rem 0;
  overflow-y: overlay;
  &-exit {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: $darkRed;
    border-radius: $borderRadius;
    overflow: hidden;
    button {
      width: 30px;
      height: 30px;
    }
    svg {
      width: 20px;
    }
  }
  &-body {
    position: relative;
    background: $dark;
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    border-radius: $borderRadius;
    box-shadow: 0 10px 50px -25px rgba($darkBlue, 1);
  }
  &-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(white, 0.1);
  }
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  input {
    background: rgba($white, 0.05);
    outline: none;
    border: 0;
    padding: 1rem 2rem;
    border-radius: $borderRadius;
    border: 1px solid rgba(white, 0.1);
    transition: transition((box-shadow));
    color: white;
    font-weight: 400;
    &:focus {
      box-shadow: 0 0 0 1px rgba($blue, 1);
    }
    &::placeholder {
      color: rgba(white, 0.5);
    }
  }
  label {
    margin-bottom: 0.5rem;
  }
}
