.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($dark, 0.5);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 15;
  overflow-y: scroll;
  backdrop-filter: $blur;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 6rem 0;
  overflow-y: overlay;
  &-exit {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: $darkRed;
    border-radius: $borderRadius;
    overflow: hidden;
    button {
      width: 30px;
      height: 30px;
    }
    svg {
      width: 20px;
    }
  }
  &-body {
    position: relative;
    background: $dark;
    width: 90%;
    max-width: 600px;
    padding: 2rem;
    border-radius: $borderRadius;
    box-shadow: 0 10px 50px -25px rgba($darkBlue, 1);
  }
  &-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(white, 0.1);
  }
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  .note {
    padding: 0.5rem;
  }
  .checkbox-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: calc(20px + 2rem) 1fr;
  }
  .way-combo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }
  &.image-preview {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    img {
      max-width: 100%;
      height: auto;
      max-height: 200px;
      margin-left: auto;
      border-radius: $borderRadius;
    }
  }
  &.has-error {
    .checkbox-custom {
      border: 1px solid $darkRed;
    }
    input,
    textarea,
    select {
      border: 1px solid $darkRed;
    }
  }
  .alert-error {
    grid-column: 1 / 3;
    padding: 0.25rem 0.5rem;
    padding-bottom: 0;
    margin-top: 0.5rem;
    p {
      font-size: 14px;
      margin: 0;
      margin-bottom: 0.25rem;
      line-height: 150%;
    }
  }
  &.consent {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 1rem;
    align-items: center;
    label {
      user-select: none;
    }
  }
  select {
    -webkit-appearance: none;
    option {
      background: rgba($dark, 1);
      padding: 1rem;
    }
  }
  input,
  textarea,
  select {
    background: rgba($white, 0.05);
    outline: none;
    border: 0;
    padding: 1rem 2rem;
    resize: none;
    border-radius: $borderRadius;
    border: 1px solid rgba(white, 0.1);
    transition: transition((box-shadow));
    color: white;
    width: 100%;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    &:focus {
      box-shadow: 0 0 0 1px rgba($blue, 1);
    }
    &::placeholder {
      color: rgba(white, 0.5);
    }
  }
  textarea {
    min-height: 200px;
  }
  label {
    margin-bottom: 0.5rem;
  }
}

.checkbox {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .checkbox-custom,
  input[type="checkbox"][checked] ~ .checkbox-custom,
  input[type="radio"]:checked ~ .checkbox-custom,
  input[type="radio"][checked] ~ .checkbox-custom {
    background: $blue;
    border: 1px solid $blue;

    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &-custom {
    display: block;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid $blue;
    position: relative;
    transition: transition((background));

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      transform: translate(-50%, -50%) scale(0);
      transition: transition((transform));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml, %3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M19.769 3.66014L8.30871 15.1179C8.00155 15.4238 7.50428 15.4238 7.19836 15.1179L0.229074 8.10404C-0.0768463 7.79688 -0.0768463 7.29774 0.229074 6.99244L1.8943 5.32846C2.20145 5.02192 2.69873 5.02192 3.00465 5.32846L7.75942 10.1148L16.9915 0.882089C17.2974 0.576169 17.7947 0.576169 18.1031 0.882089L19.7683 2.54855C20.0774 2.85509 20.0774 3.35422 19.769 3.66014Z' fill='white' /%3E%3C/svg%3E");
    }
  }
}

.ss-drop {
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  border: 1px dashed rgba($white, 0.1);
  transition: transition((border, background));
  display: grid;
  place-items: center;
  border-radius: $borderRadius;
  &_inner {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  &.over {
    background: rgba($blue, 0.2);
    border: 1px dashed rgba($white, 0.2);
  }
  &_preview {
    width: 100%;
    p {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.react-mde {
  border: 0;
  .svg-icon {
    path {
      fill: white;
    }
  }
  .mde-text {
    outline: none;
    background: $dark;
    color: white;
    font-family: "Poppins";
  }
  .grip {
    background: rgba(white, 0.1);
    border: 0;
  }
  .mde-header {
    background: $dark;
    align-items: center;
    border: 0;
    .mde-tabs {
      button {
        color: white;
        border-radius: 10px;
        padding: 0.5rem 1rem;

        &.selected {
          background: rgba($white, 0.1);
          border: 1px solid rgba($white, 0.2);
        }
      }
    }
  }
}

.combo-parser {
  margin: 2rem 0;
  min-height: 140px;
  padding: 2rem 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  * {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .next {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 15px;
  }
  .tooltip {
    background: $blue;
    padding: 0.2rem 0.5rem;
    border-radius: $borderRadius;
    margin-bottom: 2rem;
  }
  img {
    margin-bottom: 2rem;
  }
}

.combo-grid {
  &_header {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($white, 0.1);
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        user-select: none;
        cursor: pointer;
        margin-right: 1rem;
        display: flex;
        padding: 1rem;
        &.active,
        &:hover {
          background: rgba($white, 0.1);
        }
      }
    }
  }
  &_icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    .single-icon {
      cursor: pointer;
      padding: 1rem;
      &.active,
      &:hover {
        background: rgba($white, 0.1);
      }
    }
    img {
      margin: 0 auto;
      display: block;
    }
  }
}
