nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  .background {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 0.5),
      rgba(black, 0)
    );
  }
}

.nav {
  @include align-center-flex;
  justify-content: space-between;
  padding: 1rem;
  .sides {
    @include align-center-flex;
    button {
      padding: 1rem;
      transition: transition((backgrop-filter, background));
      border-radius: $borderRadius;

      &:hover {
        background: rgba($white, 0.1);
        backdrop-filter: $blur;
      }
    }
  }
  .brand {
    @include align-center-flex;
    &-logo {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .search {
    position: relative;
    input {
      -webkit-appearance: none;
      outline: none;
      background: rgba($white, 0.1);
      border: 0;
      padding: 0.5rem 1rem;
      border-radius: $borderRadius;
      color: white;
      backdrop-filter: $blur;
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 10;
      right: 1rem;
    }
  }
  .menu {
    &-sidebar {
      display: none;
      &.open {
        display: block;
      }
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 400px;
      height: 100vh;
      background: $dark;
      z-index: 10;
      padding: 2rem;
    }
    &-inner {
      .single-menu {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            border-bottom: 1px solid rgba($white, 0.1);
            margin: 0;
            a {
              width: 100%;
              height: 100%;
              padding: 0.5rem;
              transition: transition((background, padding-left));
              display: block;
              &:hover {
                background-color: rgba($white, 0.1);
                padding-left: 2rem;
              }
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
    &-top {
      @include align-center-flex;
      justify-content: space-between;
    }
  }
}
