nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  .background {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 0.5),
      rgba(black, 0)
    );
    @include for-phone {
      height: 300%;
      background-image: linear-gradient(
        to bottom,
        rgba(black, 0.8),
        rgba(black, 0)
      );
    }
  }
}

.nav {
  @include align-center-flex;
  justify-content: space-between;
  padding: 1rem;
  .sides {
    @include align-center-flex;
    @include for-phone {
      flex-wrap: wrap;
    }
    &.focused {
      @include for-phone {
        > div:not(.search) {
          display: none;
        }
      }
    }
    button {
      padding: 1rem;
      transition: transition((backgrop-filter, background));
      border-radius: $borderRadius;
      @include for-phone {
        padding: 0.5rem;
      }
      &:hover {
        background: rgba($white, 0.1);
        backdrop-filter: $blur;
      }
    }
  }
  .brand {
    @include align-center-flex;
    color: white;
    &-logo {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      img {
        width: 50px;
        height: 50px;
      }
    }
    &-text {
      @include for-tablet {
        display: none;
      }
    }
  }
  .search {
    position: relative;
    input {
      &::placeholder {
        color: rgba($white, 0.1);
      }
      -webkit-appearance: none;
      outline: none;
      background: rgba($white, 0.05);
      border: 0;
      padding: 0.5rem 1rem;
      width: 3.25rem;
      border-radius: $borderRadius;
      color: white;
      transition: transition((background, backdrop-filter, width));
      @include for-phone {
        transition: transition((background, backdrop-filter)), width 0s;
      }
      &:focus {
        backdrop-filter: $blur;
        background: rgba($white, 0.1);
        width: 15rem;
        max-width: 100%;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      pointer-events: none;
      transform: translate(0, -50%);
      z-index: 10;
      right: 1rem;
    }
  }
  .menu {
    &-sidebar {
      display: none;
      a {
        color: white;
      }
      &.open {
        display: block;
      }
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 400px;
      height: 100vh;
      background: rgba($dark, 0.5);
      backdrop-filter: $blur;
      z-index: 10;
      padding: 2rem;
    }
    &-inner {
      .single-menu {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            border-bottom: 1px solid rgba($white, 0.1);
            margin: 0;
            a {
              width: 100%;
              height: 100%;
              padding: 0.5rem;
              transition: transition((background, padding-left));
              display: flex;
              @include align-center-flex;
              &:active {
                filter: brightness(0.8);
              }
              .icon {
                display: flex;
                margin-right: 1rem;
              }
              &:hover {
                background-color: rgba($white, 0.1);
                padding-left: 2rem;
              }
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
    &-top {
      @include align-center-flex;
      justify-content: space-between;
    }
  }
}

.dropdown {
  position: relative;
  &-menu {
    position: absolute;
    top: calc(100% + 1rem);
    max-width: max-content;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba($white, 0.1);
    backdrop-filter: $blur;
    border-radius: $borderRadius;
    overflow: hidden;
    width: max-content;
    li {
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid rgba($white, 0.1);
      }
      button,
      a {
        width: 100%;
        color: white;
        font-weight: 600;
        border-radius: 0 !important;
        backdrop-filter: none !important;

        &:hover {
          background: rgba($white, 0.1);
        }
        .icon {
          display: flex;
          align-items: center;
          margin-right: 2rem;
        }
        padding: 1.2rem 2rem !important;
        display: flex;
        align-items: center;
      }
    }
  }
}

.settings-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding: 1rem 2rem;
    font-weight: 600;
    background: rgba($white, 0.05);
    cursor: pointer;
    transition: transition((padding-left, background));
    border-bottom: 1px solid rgba($white, 0.2);
    &:first-child {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
    &:hover {
      background: rgba($white, 0.05);
      padding-left: 4rem;
      background: rgba($blue, 0.1);
    }
  }
}
