#nprogress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  .bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, $darkBlue, $blue);
  }
}
