.profile-page {
  min-height: 100vh;
  &-banner {
    height: 500px;
    border-bottom: 1px solid rgba($white, 0.1);
    position: relative;
    z-index: 0;
    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba($dark, 0.8), rgba($dark, 0));
    }
    img {
      max-height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-header {
    position: relative;
    z-index: 1;
    .avatar {
      img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: $borderRadius;
      }
    }
    margin-top: -5rem;
  }
}
