$dark: #0f121a;
$white: #ffffff;
$darkBlue: #195bbd;
$blue: #40aaf6;
$darkRed: #bd1941;
$red: #f6406c;
$borderRadius: 10px;
$blur: blur(20px);
$boxWidth: 1400px;
@mixin align-center-flex {
  display: flex;
  align-items: center;
}
