.admin {
  &-character {
    img {
      max-width: 100%;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
  &:hover {
    background: rgba(white, 0.05);
  }
}
